body {
  transition: 0.5s;
  background: url("./img/background1.jpg") no-repeat center center fixed;
  background-size: cover;
  color: white;
  font-family: cursive;
}

.container {
  box-sizing: border-box;
  width: 600px;
  margin: 20px auto;
  padding: 20px;
  text-align: center;
  backdrop-filter: blur(10px) brightness(0.7);
  border: 1px solid grey;
  border-radius: 25px;
}

#tasks {
  list-style-type: none;
  padding: 0;
  margin: 20px;
}

.task {
  margin: 5px 0;
  padding: 5px 20px;
}

.task-text {
  display: inline-block;
  width: 90%;
  text-align: left;
}

.task-delete {
  display: inline-block;
  width: 5%;
}

#task-input-form {
  box-sizing: border-box;
  height: 30px;
  margin: 5px 0;
  padding: 5px 40px;
}

#input-task {
  box-sizing: border-box;
  height: 100%;
  width: 80%;
  margin-right: 1%;
  background: none;
  border: none;
  color: white;
  font-family: cursive;
  border-bottom: 1px solid white;
}

#input-task::-webkit-input-placeholder {
  color: white;
}

#submit {
  height: 120%;
  width: 15%;
  background: none;
  border: none;
  color: white;
  font-family: cursive;
}

*:focus {
  outline: none;
}

#background-selector {
  position: absolute;
  top: 90%;
  left: 90%;
}

.background {
  display: inline-block;
  width: 20px;
  height: 20px;
  border: 2px solid grey;
  cursor: pointer;
}

#bg1 {
  background-color: #046724;
}
#bg2 {
  background-color: #c7b087;
}
#bg3 {
  background-color: #c4222a;
}
#bg4 {
  background-color: #b1c2cc;
}

.delete-submit {
  background: none;
  border: none;
  color: white;
  font-family: cursive;
  cursor: pointer;
}
